<html>
  <head>
    <title>Добро пожаловать!</title>
  </head>
  <body>
    <h1>Привет, {{name}}!</h1>
    <p>Добро пожаловать на курс "{{courseTitle}}".</p>
    <p>Начни обучение прямо сейчас:
      <a href='{{courseUrl}}'>Перейти к курсу</a></p>
    <p>С уважением,<br />Команда Deasy LMS</p>
  </body>
</html>